/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}

html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

#main{}

/* css header */
#header{
    width: 100%;
    height: 46px;
    background-color: #000;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 1;
}

/* css menu */
#nav{
    display: inline-block;
}

#nav, .subnav{
    list-style-type: none;
}

#nav > li{display: inline-block;}

#nav li{
    position: relative;
}

#nav > li > a{
    color: #fff;
    text-transform: uppercase;
    line-height: 46px;
}

#nav li a{
    text-decoration: none;
    padding: 0 24px;
    display: inline-block;
   
}

#nav li:hover .subnav{
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a{
    color:#000;
    background-color: #ccc;
}


#nav .subnav{
    display: none;
    min-width: 160px;
    background-color: #fff;
    position: absolute;
    top:100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav li a{
    color: #000;
    padding: 0 12px;
    line-height: 36px;
}

#nav .subnav li:hover{
    color:#000;
    background-color: #ccc;
}

#nav .nav-arrow-down{
    font-size: 12px;
}
/* css end menu */

/* css search button */
#header .search-btn{
    float: right;
    padding: 0 21px;
    height: 100%;
}   

#header .search-btn:hover{
    cursor: pointer;
    background-color: #f44336;
}

#header .search-icon{
    color:#fff;
    font-size: 20px;
    line-height: 46px;
}
/* css end search button */

/* css end header */




/* css slider */
#slider{
    margin-top: 46px;
    padding-top: 50%;
    background: url("https://www.w3schools.com/bootstrap/chicago.jpg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#slider .text-content{
    position: absolute;
    bottom: 47px;
    color: #fff;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
}

#slider .text-description{
    font-size: 15px;
    margin-top: 25px;
}
/* css end slider */



/* css content */
#content{}


/* about section */
#content .content-section{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 16px;
    margin-bottom: 74px;
    max-width: 100%;
}

#content .section-heading{
    text-align:center;
    font-size: 30px;
    letter-spacing: 4px;
}

#content .section-sub-heading{
    text-align:center;
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}

#content .about-content{
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}

#content .member-list{
    margin-top: 48px;
    overflow: hidden;
}

#content .member-item{
    float: left;
    width: 33.33333%;
    text-align: center;
}

#content .member-item .member-name{
    font-size: 15px;
}

#content .member-item .member-avatar{
    width: 154px;
    margin-top: 15px;
    border-radius: 4px;
}
/* end about section */

/* tour section */
#content .tour-section{
    background-color: #000;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 400px;
}

.text-white{
    color: #fff;
}

.row{
    margin-left: -8px;
    margin-right: -8px;
}

.row::after{
    content: none;
    display: block;
    clear: both;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-half{
    width: 50%;
}

.col-full{
    width: 100%;
}


.col-third{
    width: 33.3333%;
}

.mt-8{
    margin-top: 8px;
}

.mt-16{
    margin-top: 16px;
}

.text-center{
    text-align: center !important;
}

.ticket-list{
    background-color: #fff;
    margin-top: 39px;
    list-style: none;

}

.ticket-list .sold-out{
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 12px;
}

.ticket-list li{
    font-size: 15px;
    padding: 10px 16px;
    border-bottom: 1px solid #ddd ;
    color: #757575;
    margin-left: 16px;
}

.ticket-list .quantity{
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    line-height: 24px;
    margin-top: -2px;
}

#content .place-list{
    margin-top: 32px;
    margin-left: -8px;
    margin-right: -8px;
}

#content .place-item{
    float: left;
    width: 33.33333%;
    padding: 0 8px;
}

#content .place-img{
    width: 100%;
    display: block;
}

#content .place-img:hover{
    opacity: 0.6;
}

#content .place-content{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

#content .place-item .member-name{
    font-size: 15px;
}

.place-heading{
    font-size: 15px;
    font-style: bold;
}

.place-sub-heading{
    margin-top: 15px;
    color: #757575;
}

.place-description{
    margin-top: 15px;
}

.place-buy-btn{
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
}

.place-buy-btn:hover{
    color: #000;
    background-color: #ccc;
}
/* css tour section */



/* contact section */
.contact-content{
    margin-top: 48px;
}

.contact-info{
    font-size: 18px;
    line-height: 1.4;
}

.contact-info i[class*="ti-"]{
    width: 30px;
    display: inline-block;
}

.contact-form{
    font-size: 15px;
}

.form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.form-submit{
    float: right;
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 16px;
    cursor: pointer;
}

.form-submit:hover{
    opacity: 0.8;
}
/* end contact section */


/* map section */
.map-section{
    margin-top: 46px;
    padding-top: 50%;
    background: url("https://www.w3schools.com/bootstrap/map.jpg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

/* end map section */

/* css end content */



#footer{
    padding: 64px 16px;
    text-align: center;
}

.social-list{
    display: inline-block;
    font-size: 24px;
    text-decoration: none;
    color: #ccc;
}

.social-list a{
    text-decoration: none;
    color: #757575;
}

.social-list a:hover{
    opacity: 0.6;
}

.copyright{
    font-size: 15px;
    margin-top: 15px;
}

.copyright a{
    font-size: 15px;
}

.copyright a:hover{
    opacity: 0.6;
}



.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal.open{
    display: flex;
}

.modal-container{
    background-color: #fff;
    width: 900px;
    min-height: 200px;
    position: relative;
    max-width: calc(100% - 32px);
    animation: modalFadeIn ease 0.5s;
}

.modal-header{
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.btn-close{
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}

.btn-close:hover{
    opacity: 1;
}

.modal-body{
    padding: 16px;
}

.modal-lable{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input{
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 15px;
    margin-bottom: 24px;
}

#buy-tickets{
    background: #009688;
    border: none;
    color: #fff;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
    cursor: pointer;
}

#buy-tickets:hover{
    opacity: 0.9;
}

.modal-footer{
    padding: 16px;
    text-align: right;
}

.modal-footer a{
    color: #2196F3;
}

@keyframes modalFadeIn{
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}